{# templates/admin/add_user_to_team.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Add User to Team{% endblock %}

{% block body %}
    <h1 class="text-primary">Add User to Team</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-primary">Add User</button>
    {{ form_end(form) }}

    <a href="{{ path('app_admin') }}" class="btn btn-secondary">Back to Admin Panel</a>
{% endblock %}
