{# templates/admin/create_team.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Create Team{% endblock %}

{% block body %}
    <h1>Create a new Team</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-primary">Create Team</button>
    {{ form_end(form) }}
{% endblock %}
