{# templates/admin/create_team.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Create Team{% endblock %}

{% block body %}
    <h1>Create Team</h1>
    {{ form_start(form) }}
        {{ form_row(form.name) }}
        {{ form_row(form.description) }}
        <button class="btn btn-primary">Submit</button>
    {{ form_end(form) }}
{% endblock %}

