{# templates/admin/invite.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Invite Admin{% endblock %}

{% block body %}
<h1 class="text-primary">Invite Admin</h1>

{{ form_start(form) }}
    {{ form_row(form.email) }}
    <button class="btn btn-primary">Send Invitation</button>
{{ form_end(form) }}
{% endblock %}
