{% extends 'base.html.twig' %}

{% block title %}Create New Task{% endblock %}

{% block body %}
<h1>Create New Task</h1>

{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">Save</button>
{{ form_end(form) }}

<a href="{{ path('task_index') }}">Back to list</a>
{% endblock %}
