{# templates/forgot_password/index.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Forgot Password{% endblock %}

{% block body %}
    <h1>Forgot Password</h1>
    {{ form_start(form) }}
        {{ form_row(form.email) }}
        <button type="submit">Send reset link</button>
    {{ form_end(form) }}
{% endblock %}
