<p>Hello,</p>
<p>You have been invited as an user. Here are your credentials:</p>
<p>Email: {{ email }}</p>
<p>Password: {{ password }}</p>
<button class="btn btn-primary" type="button">
    <a href="http://localhost:3000/" class="btn btn-primary">Login</a>
</button>
