<p>Hello,</p>
<p>You have been invited as an user. Here are your credentials:</p>
<p>Email: {{ email }}</p>
<p>Password: {{ password }}</p>
<button class="btn btn-primary" type="button">Login</button>
{# <a href="{{ path('app_login') }}" class="btn btn-primary">Login</a> #}
