{# templates/emails/invite.html.twig #}

<p>Hello,</p>
<p>You have been invited as an admin. Here are your credentials:</p>
<p>Email: {{ email }}</p>
<p>Password: {{ password }}</p>
<p>Please login.</p>
